textarea:focus { outline: none; }

.project-options {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit);
    justify-content: right;
    padding: 29px 29px;
    margin-bottom: 20px;
    background-color: #efefef;
    border-radius: 3px;
}

.no-projects-msg {
    text-align: center;
    padding-bottom: 15px;
}

.due-date {
    font-size: 1.1rem;
}

.mr-10 { margin-right: 10px; }
.ml-10 { margin-left: 10px; }



.cursor-pointer {
    cursor: pointer;
}

#todo-title {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}